* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #f7f7f5;
  color: #111;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: min(90%, 1200px);
  margin-inline: auto;
}

section {
  padding: 6rem 0;
}